[include mainsail.cfg]

[mcu]
canbus_uuid: 6bb6f084d709

[virtual_sdcard]
path: /home/maarten/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: none
max_velocity: 500
max_accel: 1000

##	X left connected to E1
[stepper_x1]
step_pin: PE6
dir_pin: PC13
enable_pin: !PE5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation:200
position_min: 0
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_speed: 60
homing_positive_dir: true

[tmc2209 stepper_z1]
uart_pin: PC14
interpolate: False
run_current: 0.70
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^gpio4  

##	X right connected to E1
[stepper_z2]
step_pin: PE2
dir_pin: !PE4
enable_pin: !PE3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation:200

[include hardware/*.cfg]